@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.background_image{
    background-image: url("../images/banner-bg.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav-item .nav-link{
    color: #fff;
}
.navbar-brand{
    color: #fff;
}
.navbar-nav .nav-link.active{
    color: #FFD523;
}
.background_overlay{
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.background_image{
    position: relative;
}
.hero{
    position: relative;
    z-index: 99;
    padding: 200px 0px 150px 0px;
}
.hero_btn{
    color: #FFF;
    background-color: #0F52BA;
    padding: 15px 35px 15px 35px;
    font-weight: 600;
    border: none;
    transition: all 0.4s ease-in-out;
}
.hero_btn:hover{
    background-color: #003992;
}
.hero_btn:last-child{
    background-color: transparent;
    color: #FFF;
    border: 1px solid #fff;
    transition: all 0.4s ease-in-out;
}
.hero_btn:last-child:hover{
    background-color: #003992;
    border-color: #003992;
}
.hero_heading_text{
    padding: 0px 150px 0px 150px;
    font-size: 63px;
    font-weight: 700;
}
.hero_text{
    max-width: 60%;
    font-size: 14px;
    line-height: 1.5em;
}
.shape {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    bottom: -1px;
}
.shape-bottom svg {
    height: 80px;
    width: 100%;
}
.shape-fill{
    fill: #fff;
    transform-origin: center;
    transform: rotateY(0deg);
}
section{
    margin-top: 80px;
    margin-bottom: 50px
}
.first_details{
    margin: 20px 0px 20px 20px;
    padding: 50px 50px 50px 50px;
    background-color: #001742;
}
.first_details img{
    width: 50px;
    height: 40px;
    margin-right: 15px;
}
.first_details .text{
    color: #FFF;
}
.secound_details{
    background-image: url("https://templatekit.jegtheme.com/aviacademy/wp-content/uploads/sites/153/2021/09/two-women-flight-attendants-smiling-at-the-photo-camera-in-salon-of-passenger-aircraft-e1630651564416.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 50px 60px 50px 60px;
}

.secound_details img{
    width: 50px;
    height: 40px;
    position: relative;
    margin-right: 15px;
}

.background_opacity{
    background-color: #001742;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cabin_trainings .text{
    color: #FFF;
}
.third_details{
    background-color: #FFD523;
    padding: 50px 60px 50px 60px;
    margin: 20px 20px 20px 0px;
}

.third_details img{
    width: 50px;
    height: 40px;
    margin-right: 15px;
}
.wellcome_skyhub img{
    width: 356px;
    height: 535px;
    position: relative;
    z-index: 99;
}
.image_overlay{
    left: 120px;
    position: absolute;
    top: 60px;
}
.image_overlay .image_bg_overlay{
    height: 510px;
    width: 375px;
    background-color: #0F52BA;
}
.wellcome_text h5{
    color: #0F52BA;
    font-size: 17px;
    font-weight: 600;
}
.wellcome_text h2{
    font-size: 43px;
    font-weight: 600;
    line-height: 1.3em;
}
.wellcome_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.wellcome_text_list li{
    margin-bottom: 10px;
    font-size: 15px;
}
.wellcome_text_list li i{
    color: #0F52BA;
}
.play_button{
    z-index: 8888;
    position: absolute;
    top: 50%;
    left: 50%;
}
.play_button a{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #0058E6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play_buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.play_buttons a{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #0058E6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 88;
}
.play_button a i{
    color: #FFF;    
}
.play_buttons a i{
    color: #FFF;    
}


.about_us_btn{
    padding: 15px 35px 15px 35px;
    font-weight: 600;
    font-size: 16px;
    color: #FFF;
    background-color: #0F52BA;
    transition: all 0.4s ease-in-out;
}
.about_us_btn:hover{
    background-color: #003992;
}
.count_section_bg{
    background-image: url("https://templatekit.jegtheme.com/aviacademy/wp-content/uploads/sites/153/2021/09/earth-e1630646622708.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 100px 0px;
}
.shape-top svg {
    height: 80px;
    width: 100%;
}
.shape.shape-top {
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    top: -1px;
}
.count_image{
    padding: 15px;
}
.count_image .contant{
    text-align: center;
}

.title h5{
    color: #0F52BA;
}
.title h3{
    font-size: 43px;
    font-weight: 600;
}
.title p{
    font-size: 14px;
    color: #6C6C6C;
    max-width: 56%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.courses_img{
    margin-right: 20px
}
.courses_img img{
    width: 100%;
    height: auto;
}
.courses_text.bg{
    background-color: #001742;
}
.courses_text{
    margin: -40% 10% 0% 5%;
    padding: 40px 30px 40px 30px;
    background-color: #FFF;
    position: relative;
    z-index: 99;
    text-align: center;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07);
}
.courses_text img{
    width: 75px;
    height: 50px;
    margin-bottom: 15px;
}
.courses_text.bg h4{
    color: #FFF;
}
.courses_text h4{
    color: #000;
    font-size: 19px;
    font-weight: 600;
}
.courses_text.bg p{
    color: #FFF;
}
.courses_text p{
    color: #000;
    font-size: 14px;
}
.about_section_bg{
    background-color: #003992;
    padding: 80px 0px 80px 0px;
}
.about h2{
    font-size: 43px;
    font-weight: 600;
}
.about p{
    max-width: 83%;
    font-size: 14px;
}
.about_img{
    position: relative;
    z-index: 88;
}
.about_img img{
    width: 100%;
    padding: 10px;
}
.about_parent_img{
    position: relative;
}
.about_img_child{
    position: absolute;
    left: -152px;
    top: 233px;
}
.about_img_child img{
    width: 52%;
    border: 10px solid #001742;
    padding: 0;
}
.expert{
    position: relative;
}
.expert img{
    width: 100%;
}
.expert_disc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.expert_disc .expert_title p{
    display: flex;
    flex-direction: row-reverse;
    color: #FFF;
    
}
.expert_name_wrapper{
    align-items: end;
    justify-content: space-between;
}
.expert_name_wrapper h3{
    color: #FFF;
}
.expert_name_wrapper ul .social_link{
    background-color: #FFD523;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.single_card{
    padding: 40px;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}
.single_card.bg{
    background-color: #001742;
}
.course_name{
    margin-bottom: 20px;
}
.course_name h4{
    font-size: 19px;
    color: #001742;
    font-weight: 600;
}
.single_card.bg .course_name h4{
    color: #FFF;
}
.course_disc{
    margin-bottom: 20px;
}
.course_disc p{
    font-size: 14px;
}
.single_card.bg .course_disc p{
    color: #FFF;
}
.pricing_price h2{
    color: #0F52BA;
    font-size: 43px;
}
.single_card.bg .pricing_price h2{
    color: #FFD523;
}
.pricing_price h2 sub{
    font-size: 14px;
    color: #6C6C6C;
}
.single_card.bg .pricing_price h2 sub{
    color: #FFF;
}

.divider{
    margin: 25px 0;
}
.divider-separator{
    border: 1px solid #6C6C6C;
    width: 100%;
}
.provite ul li{
    margin-bottom: 10px;
}

.provite ul li a{
    color: #000;
}
.single_card.bg .provite ul li{
    color: #FFF;
}
.provite ul li a i{
    color: #0F52BA;
}
.single_card.bg .provite ul li  i{
    color: #FFD523;;
}
.certifecate_section_bg{
    background-image: url("https://templatekit.jegtheme.com/aviacademy/wp-content/uploads/sites/153/2021/09/friendly-coworkers-resting-after-the-international-flight-e1631064018576.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 100px 0px;
    background-attachment: fixed;
    background-position: center center;
}
.license h5{
    color: #FFF;
}
.license h3{
    color: #FFF;
    padding: 0px 150px;
    font-size: 43px;
    font-weight: 600;
}
.license p{
    color: #FFF;
    font-size: 14px;
    max-width: 60%;
    margin: 0 auto;
}
.blog_img img{
    width: 100%;
    height: 360px;
}
.blog_disc .read_more a{
    color: #0F52BA;
    font-size: 14px;
    font-weight: 600;
}
.blog_disc h4{
    margin-top: 0.5rem;
    font-weight: 600;
    line-height: 1.3em;
    font-size: 19px;
}
.blog_disc p{
    font-size: 14px;
}
.blog_disc .read_more{
    margin-top: 1.5rem;
}
footer .shape.shape-top {
    top: -79px;
}
.footer_bg{
    background-color: #001742;
}
.footer_top{
    display: flex;
    justify-content: space-between;
}
.footer_phone{
    padding: 10px;
}
.footer_phone .icon{
    color: #001742;
    background-color: #FFD523;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.footer_phone .phone h5{
    color: #FFF;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer_phone .phone p{
    color: #FFF;
    font-size: 14px;
    margin-bottom: 0;
}
.main_footer{
    margin-top: 60px;
}
.main_footer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));;
}
.academy_details{
    margin-right: 40px;
}
.academy_name{
    display: flex;
    align-items: center;
    color: #FFF;
    margin-bottom: 20px;
}
.social_media ul{
    display: flex;
    gap: 10px;
}
.social_media ul li{
    background-color: #FFD523;
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quick_links{
    padding: 10px;
    margin-left: 10px;
}
.quick_link_title{
    margin-bottom: 20px;
}
.quick_link_title h4{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 19px;
    color: #FFF;
}
.quick_links ul li{
    margin-bottom: 15px;
}
.quick_links ul li a{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}
.subscription{
    display: flex;
}
.subscription input{
    padding: 15px 30px 15px 30px;
}
.subscription button{
    padding: 15px 20px 13px 20px;
    border: none;
    background-color: #0048bd;
    color: #FFF;
}
.subscription button i{
    font-size: 20px;
}

.footer_bottom{
    margin-top: 80px;
    padding-top: 10px;
    border-top: 1px solid #EAEAEA12;
}
.footer_bottom .left_text{
    padding: 10px;
}
.footer_bottom .left_text p{
    color: #FFF;
    margin-bottom: 12px;
    font-size: 13px;
}
.footer_bottom .right_text{
    padding: 10px;
}
.footer_bottom .right_text p{
    margin-bottom: 12px;
    color: #FFF;
    font-size: 13px;
}
@media (max-width: 1024px){
    .hero_heading_text{
        padding: 0px 100px 0px 100px;
    }
    .first_details{
        margin: 10px 0px 10px 0px;
        padding: 20px 20px 20px 20px;
    }
    .about_img_child{
        position: absolute;
        left: 152px;
        top: 233px;
    }
    .license h3{
        padding: 0px;
    }
    .blog_img img{
        height: 450px;
    }
}
@media (max-width: 771px){
    .hero{
        padding: 60px 0px 150px 0px;
    }
    .hero_heading_text{
        padding: 0;
    }
    .hero_text{
        max-width: 100%;
    }
    .first_details{
        margin: 0px 10px 0px 10px;
        padding: 30px 20px 30px 20px;
    }
    .third_details{
        margin: 0px 20px 20px 20px;
    }
    .wellcome_skyhub img{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 99;
    }
    .image_overlay{
        left: -20px;
        position: absolute;
        top: 60px;
    }
    .about_img_child img {
        width: 80%;
        border: 10px solid #001742;
        padding: 0;
    }
    .about_img_child {
        position: absolute;
        left: 117px;
        top: 156px;
    }
    .license p{
        max-width: 100%;
    }
}